<div class="attributes-tab">
  <div class="attributes-tab__heading">{{'onboarding.flow.basics.h1' | translate}}</div>

  <div class="attributes-tab__form">
    <ng-container *ngIf="!!brandProduct && !!brandProduct.options">
      <ng-container *ngFor="let option of getOptionKeysIfExist(brandProduct.options)">
        <div class="attributes-tab__group">
          <div class="attributes-tab__label">
            {{brandProduct.options[option].label}}
          </div>

          <div class="attributes-tab__input">
            <exp-select
              placeholder="{{brandProduct.options[option].label}}"
              [options]="brandProduct.options[option].values | transformArrayForSelect"
              [(ngModel)]="model[option].value"
              [invalid] = "model[option].value === null"
              [validation] = "model[option].value === null && 'Please choose one.'"
            ></exp-select>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div class="attributes-tab__buttons">
    <div class="back" (click)="cancel()">
      <div class="back__text">{{'onboarding.flow.basics1.button-cancel' | translate}}</div>
    </div>

  <div class="attributes-tab__skip-link" (click)="skip()">
    {{'onboarding.flow.environment.navigation.skip' | translate}}
  </div>

    <exp-button (clicked)="next()" [disabled]="!canSend()">{{'onboarding.flow.environment.navigation.next' | translate}}</exp-button>
  </div>
</div>
